<%- include('../includes/userheader.ejs') %>
</head>
<body>
<%- include('../includes/usernav.ejs') %>
 <h2 class="text-center"> Something went wrong </h2>
<p class="text-center">Please check back later</p>

<%- include('../includes/userfooter.ejs') %>


